---
import Layout from "../components/BaseLayout.astro";
import HeroCircle from "../components/HeroCircle.astro";
import HeroText from "../components/HeroText.astro";
import HeroTitle from "../components/HeroTitle.astro";
import ResultList from "../components/ResultList.astro";
import results from "../data/data.json";
import { Category, parseDetails } from "../lib/parse-details";

const { reaction, memory, verbal, visual, score } = parseDetails(
  results as Category[]
);
---

<Layout>
  <div class="flex sm:justify-center items-center min-h-screen w-full">
    <div
      class="bg-white shadow rounded-b-xl sm:rounded-4xl flex flex-wrap justify-center overflow-hidden sm:shadow-main"
    >
      <div
        class="w-[375px] sm:w-92 h-92 sm:h-128 bg-gradient1 rounded-b-4xl sm:rounded-4xl flex flex-col items-center"
      >
        <HeroTitle color="text-my-blue-300">Your Result</HeroTitle>
        <HeroCircle score={score} />
        <HeroText score={score} />
      </div>
      <div class="w-92 h-128 px-[30px] sm:px-10">
        <HeroTitle color="text-my-navy-900">Summary</HeroTitle>
        <ResultList
          reaction={reaction}
          memory={memory}
          verbal={verbal}
          visual={visual}
        />
        <button
          class="w-full rounded-full bg-my-navy-900 text-white font-medium text-lg p-4 mt-6 sm:mt-10 hover:bg-gradient1 active:bg-gradient1"
          >Continue</button
        >
      </div>
    </div>
  </div>
</Layout>
